.body { 
    font-family: 'Arial', sans-serif; 
    background-color: #f8f9fa; 
    color: #333; 
    margin-top: 56px; 
} 
.navbar { 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ff7f7f; 
} 
.navbar-brand { 
    font-size: 1.8rem; 
    font-weight: bold; 
    } 
.nav-link { 
    font-size: 1.1rem; 
    transition: color 0.3s; 
} 
.nav-link:hover { 
    color: #ffcc00 !important; 
} 
.hero {
    background-color: #ff5733;
    color: white;
    padding: 100px 0;
    text-align: center;
}
.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.hero p {
    font-size: 1.5rem;
}
.store-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}
.store-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 45%;
    max-width: 500px;
    transition: transform 0.3s;
}
.store-card:hover {
    transform: translateY(-10px);
}
.store-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.store-card-body {
    padding: 20px;
}

.store-card h3 {
    color: #ff5733;
}

.store-card p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.store-card iframe {
    width: 100%;
    height: 200px;
    border: none;
}