.body { 
    font-family: 'Arial', sans-serif; 
    background-color: #f8f9fa; 
    color: #333; 
    margin-top: 56px; 
} 
.navbar { 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ff7f7f; 
} 
.navbar-brand { 
    font-size: 1.8rem; 
    font-weight: bold; 
    } 
.nav-link { 
    font-size: 1.1rem; 
    transition: color 0.3s; 
} 
.nav-link:hover { 
    color: #ffcc00 !important; 
} 
.hero {
    background-color: #ff5733;
    color: white;
    padding: 100px 0;
    text-align: center;
}
.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.hero p {
    font-size: 1.5rem;
}
.store-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
    background-color: white;
}
.card { 
    transition: transform 0.3s, box-shadow 0.3s; 
    border: none; 
    border-radius: 15px; 
} 
.card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
} 
.card-img-top { 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    height: 300px; 
    object-fit: cover; 
} 
.card-body { 
    text-align: center; 
} 

